<div class="container">
    <div class="row">
        <div class="box twelve columns">
            <h1>Waiters Roster</h1>
            <div class="Week">
                <form action="/waiters" method="POST"></form>
                <input type="checkbox" name="day" value="Sunday" class="button-box"> Sunday
                <input type="checkbox" name="day" value="Monday" class="button-box"> Monday
                <input type="checkbox" name="day" value="Tuesday" class="button-box"> Tuesday
                <input type="checkbox" name="day" value="Wednesday" class="button-box"> Wednesday
                <input type="checkbox" name="day" value="Thursday" class="button-box"> Thursday
                <input type="checkbox" name="day" value="Friday" class="button-box"> Friday
                <input type="checkbox" name="day" value="Saturday" class="button-box"> Saturday
                <br>
                <button class="btn btn-dark" type="submit" name="button">Submit Days</button>
            </div>
        </div>
    </div>
</div>