.box {
  padding: 0.95em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
  background-color: beige;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: crimson;
  font-weight: bold;
}

.flash-red {
  color: Red;
  font-size: 20px;
}

.flash-green {
  color: rgb(90, 184, 90);
  font-size: 20px;
} 

.total {
  font-weight: bold;
  font-size: 2em;
}
